.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(circle, #59E593, #000000)
}

.app h1 {
  margin: 0;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app div {
    animation: spin infinite 0.75s ease;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
